@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
    box-sizing: border-box;
    background: #3f6acc;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.main {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contato {
    font-size: medium;
}

.textfield {
    margin-bottom: 10px;
}

.textfield>input {
    width: 400px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    background: #faf6f6;
    color: aliceblue;
    font-size: 12pt;
    box-shadow: 5px 5px black;
}

.textfield>label {
    color: #010808de;
    margin-bottom: 10px;
}

.mensagem>label {
    color: #010808de;
    vertical-align: top;
}

textarea {
    border-radius: 10px;
    padding: 8px;
    background: #faf6f6;
    align-items: center ;
    text-align: center;
    width: 400px;
    box-shadow: 5px 5px ;
    margin-bottom: 1rem;
}